{% extends 'base.html'%}
{% block trainer %}
<body>
<h1>Пример № {{number_task}}</h1>
<h1>{{a}} = </h1>
    <form method="post" action=''>
         {% csrf_token %}
        <input autofocus name="answer" type="number">
        <input type="submit" value="Ответить">
    </form>
{% if messages %}
        {% for message in messages %}
        <p class="alert alert-info" role="alert">{{message}}</p>
        {% endfor %}
        {% endif %}
{{counter}}
{% for t in tasks_deb%}
<p>{{t}}</p>
{% endfor %}
</body>
<p>all parameters here</p>
{% for parametr,value in all_parameters.items %}
{{parametr}} {{value}}
<br>
{% endfor %}

</html>
{% endblock %}